<div class="m-333">
    <!-- <span fxFlex></span> -->
    <!-- <button mat-raised-button class="mb-8" color="primary" (click)="openPopUp({}, true)" routerLink="/admin/add-customer">{{"ADD"}} {{"MEMBER"}}</button> -->
  </div>
  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
      <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="userPayments"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="10"
            [rowHeight]="50">
            <ngx-datatable-column name="Account ID" [flexGrow]="1" >
              <ng-template let-row="row" ngx-datatable-cell-template >
                {{ row.accountId?row.accountId :'---' }}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="User ID" [flexGrow]="1" >
              <ng-template let-row="row" ngx-datatable-cell-template >
                {{ row.userId?row.userId :'---' }}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Amount" [flexGrow]="1" >
              <ng-template let-row="row" ngx-datatable-cell-template >
                {{ row.amount?row.amount+' $':'---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Bonus Amount" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.bonusAmount?row.bonusAmount+' $':'---' }} 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Method" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.method }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ createdAt(row?.createdAt) }}
                </ng-template>
              </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.status" style="background-color: #1b5e20;">{{row.status}}</mat-chip>
                <!-- <mat-chip mat-sm-chip [color]="'primary'" [routerLink]="['/admin/form']">Generate Cargo Receipt</mat-chip> -->
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Is Bonus" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.is_bonus">{{row.is_bonus}}</mat-chip>
                </ng-template>
              </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Actions" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
              </ng-template>
            </ngx-datatable-column> -->
          </ngx-datatable>
    </mat-card-content>
  </mat-card>
  