<div class="m-333">
    <!-- <span fxFlex></span> -->
    <!-- <button mat-raised-button class="mb-8" color="primary" (click)="openPopUp({}, true)" routerLink="/admin/add-customer">{{"ADD"}} {{"MEMBER"}}</button> -->
  </div>
  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
      <div style="margin-bottom: 1%;margin-top: 1%;margin-left: 1%;">
        <form>
        <input type="text" placeholder="Search By Symbol Code" style="border-radius: 8px;padding: 8px 8px 8px 8px;" [(ngModel)]="name" name="name">
        <input type="text" placeholder="Search By Start Date" style="border-radius: 8px;padding: 8px 8px 8px 8px;margin-left: 1%;" [(ngModel)]="startdate" name="startdate">
        <!-- <input type="text" placeholder="Search By City" style="border-radius: 8px;padding: 8px 8px 8px 8px;margin-left: 1%;" [(ngModel)]="city" name="city">
        <input type="text" placeholder="Search By Country" style="border-radius: 8px;padding: 8px 8px 8px 8px;margin-left: 1%;" [(ngModel)]="country" name="country"> -->
        <!-- <input type="text" placeholder="Search By Phone #" style="border-radius: 8px;padding: 8px 8px 8px 8px;margin-left: 1%;" [(ngModel)]="phoneno" name="phoneno">   -->
    
        <button mat-raised-button class="mb-8" color="primary" (click)="searchFunc()" style="margin-left: 1%;">Search</button>
        <button mat-raised-button class="mb-8" color="accent" (click)="clearFunc()" style="margin-left: 1%;">Clear</button>

      </form>
    </div>
      <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="deals"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="10"
            [rowHeight]="50">
            <ngx-datatable-column name="Account ID" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.accountId ? row.accountId : '---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Symbol Name" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.symbol_code ? row.symbol_code : '---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Trend" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.trend ? row.trend : '---' }} sec
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Started At" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.startedAt?createdAt(row.startedAt):'---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Close At" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.closedAt?createdAt(row.closedAt):'---' }}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Strike Rate" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.strikeRate ? row.strikeRate : '---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Closing Strike Rate" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.closingStrikeRate ? row.closingStrikeRate : '---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Strike Amount" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.strike_amount ? row.strike_amount : '---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Winning Amount" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.winning_amount ? row.winning_amount : '---' }}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Type" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.type ? row.type : '---' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Result" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip mat-sm-chip [color]="'success'" [selected]="row.result" *ngIf="row.result=='success'" style="background-color: #1b5e20;color:#fff">{{ row.result ? row.result : '---' }}</mat-chip>
                <mat-chip mat-sm-chip [color]="'failure'" [selected]="row.result" *ngIf="row.result!='success'" style="background-color: red;color:#fff">{{ row.result ? row.result : '---' }}</mat-chip>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.status">{{row.status ? row.status : '---'}}</mat-chip>
                <!-- <mat-chip mat-sm-chip [color]="'primary'" [routerLink]="['/admin/form']">Generate Cargo Receipt</mat-chip> -->
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Block / Unblock" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div fxFlex="100"  class="pt-16 pr-16">
                        <mat-slide-toggle ></mat-slide-toggle>
                      </div>        
                </ng-template>
              </ngx-datatable-column> -->
            <ngx-datatable-column name="Actions" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                <!-- <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button> -->
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
    </mat-card-content>
  </mat-card>
  